<dx-data-grid
    id="gridContainer"
    [dataSource]="employees"
    (onEditorPreparing)="onEditorPreparing($event)"
    >
    
    <dxo-editing [allowUpdating]="true" [allowAdding]="true"></dxo-editing>
    
    <dxi-column
    	caption="Name"
       	dataField="CustomerID"
        [setCellValue]="setCellValue"
    >
        <dxo-lookup
        	[dataSource]="customers"
         	valueExpr="CustomerID"
            displayExpr="CustomerName"
        >
        </dxo-lookup>
    </dxi-column>
    
    <dxi-column dataField="Address"></dxi-column>
    <dxi-column dataField="Phone"></dxi-column>
    
</dx-data-grid>
